<?php
defined('_JEXEC') or die;
if (!JFactory::getUser()->authorise("core.manage", "{SYSTEM_COMPONENT_NAME}")) {
    throw new JAccessExceptionNotallowed(JText::_('JERROR_ALERTNOAUTHOR'), 403);
}

jimport("joomla.application.component.controller");
$controller = JControllerLegacy::getInstance("{COMPONENT_NAME}");
$controller->execute(JFactory::getApplication()->input->get('task'));
$controller->redirect();