<?php
defined('_JEXEC') or die;
//require_once JPATH_COMPONENT . "/helpers/route.php";
$controller = JControllerLegacy::getInstance("{COMPONENT_NAME}");
$controller->execute(JFactory::getApplication()->input->get("task"));
$controller->redirect();